<div class="container text-center my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h1 class="mb-4">Trivial</h1>
            <p class="text-start">
                Este proyecto es mi trabajo final para la asignatura de Diseño de Interfaces. 
                Consiste en una aplicación que se conecta a una API para gestionar un juego de trivial 
                con veinte preguntas, registrando las respuestas del usuario y calculando una puntuación final.
            </p>
            <p class="text-start">
                La API ha sido desarrollada en Spring como parte de mi trabajo final en la asignatura de 
                Acceso a Datos, integrando así ambos proyectos en un único sistema funcional.
            </p>
            <p class="text-start">
                Soy Iván Baños Piñeiro, estudiante del ciclo superior de Desarrollo de Aplicaciones Multiplataforma 
                en el instituto de Maceda. Espero que este proyecto refleje mi esfuerzo y aprendizaje a lo largo del curso… ¡y que consiga un buen aprobado!
            </p>
        </div>
    </div>
</div>