/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "letra";
    src: url("/fonts/Lindstaye.otf");
}

:root{
    --fuente: "letra", sans-serif;
}

body{
    background-image: url("/img/fondoPapel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
